name: "build"

on: push

env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx5g -XX:MaxPermSize=512m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3.4.1
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Build
        uses: gradle/gradle-build-action@v2.2.3
        with:
          arguments: build --full-stacktrace

      - name: Upload reports
        if: always()
        uses: actions/upload-artifact@v3.1.0
        with:
          name: 'reports-${{ matrix.os }}'
          path: '**/build/reports/**'
